<h1>Eat-Da-Burger!</h1>

<ol>
    {{#each burgers}}
        {{#unless devoured}}
                <p>{{this.id}}. {{burger_name}}</p>
                <button data-id="{{this.id}}" class="devourbtn">Devour</button>
        {{/unless}}
    {{/each}}
</ol>
<ol>
    {{#each burgers}}
        {{#if devoured}}
                <p>{{this.id}}. {{burger_name}}</p>
        {{/if}}
    {{/each}}
</ol>

<form>
    <input type="text">
    <br><br>
    <button class="submitBtn" type="submit">Submit</button>
</form>

<script type="text/javascript"></script>